html {
  background-color: beige;
  box-sizing: border-box;
}

img {
  height: auto;
  width: 300px;
}

h1 {
  background-color: beige;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 20px;
  margin: 20px;
  border: 5px dotted red;
}

ul {
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  padding: 20px;
}

li {
  margin: 10px;
  padding: 10px;
  border: solid gray;
}

h2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-weight: 50px;
}

h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-weight: 50px;
}

ol {
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
}

